  <meta charset="utf-8" />
  {% if page.redirect %}<meta http-equiv="refresh" content="{{page.redirect.time}};url={{site.baseurl}}/{{page.language}}">{% endif %}
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <meta name="description" content="Moabi is a collaborative mapping platform to monitor landuse planning in the Democratic Republic of the Congo.">
  <!-- <link rel="author" href="https://plus.google.com/moabi-gplus-profile"> -->
  {% if page.img %}
  <meta property="og:image" content="{{page.img}}">
  <meta property="og:image:width" content="249">
  <meta property="og:image:height" content="191">
  {% else %}
  <meta property="og:image" content="https://farm4.staticflickr.com/3687/12483987584_3b2a7cf09a_c.jpg">
  <meta property="og:image:width" content="500">
  <meta property="og:image:height" content="250">
  {% endif %}
  <meta property="og:image:type" content="image/png">
  <title>{% if page.title != 'landing' %} {{ page.title }} | {% endif %}Moabi</title>
  <link rel="icon" type="image/ico" href="{{site.baseurl}}/img/moabi.ico"/>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/css/base.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/css/openoil.css' rel='stylesheet' />


    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.uncompressed.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
  <!-- <script src="{{site.baseurl}}/js/vendor/jquery-1.11.1.min.js"></script> -->
